p {
	position: relative;
	left: 0%;
	margin-bottom: 0.7em;
	margin-right: 0;
	width: 75%;
}


code {
	font: normal normal;
	font-size: 90%;
	/*line-height: 1em;*/
	font-family: Monaco,Menlo,monospace,sans-serif;
	color: #aaa;
}

p code {
	position: absolute;
	text-align: right;
}